/* styles.css */

/* Tailwind CSS の基本的なスタイル */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: serif;
  background-color: white;
  color: #333;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.btn-hover:hover {
  background-color: #1f2937;
}

/* アニメーション用のCSS */
.fade-up {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
